In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
df = pd.read_csv("dataset.csv")

In [8]:
target = "class"

In [9]:
X = df.loc[:, df.columns != target]
y = df.loc[:, df.columns == target]

In [155]:
lista = [5,3.3,1.5,0.2]

In [20]:
df = pd.read_csv("dataset.csv")
df_numeric = df._get_numeric_data()
print(df_numeric)

         Preco  Quartos  Area  TaxaCond  VagasGaragem
0      35000.0      2.0   NaN       NaN           2.0
1     105000.0      2.0  60.0       NaN           1.0
2     330000.0      3.0  94.0     400.0           NaN
3     120029.0      2.0  58.0       0.0           1.0
4     141037.0      3.0  59.0       0.0           1.0
...        ...      ...   ...       ...           ...
8936  124000.0      2.0   NaN       NaN           1.0
8937   38000.0      3.0  62.0       NaN           1.0
8938  220000.0      4.0   0.0       NaN           NaN
8939   45000.0      2.0   0.0       NaN           NaN
8940   75000.0      3.0  30.0       0.0           1.0

[8941 rows x 5 columns]

In [21]:
for col in df_numeric.columns:
    if df_numeric[col].isnull().sum() > 0:
        df_numeric[str(col) + '_mean'] = df_numeric[col].fillna(df_numeric[col].mean()) 
        df_numeric[str(col)] = df_numeric[col].fillna(df_numeric[col].median())
print(df_numeric)

         Preco  Quartos  Area  TaxaCond  VagasGaragem  Quartos_mean  \
0      35000.0      2.0  58.0     180.0           2.0           2.0
1     105000.0      2.0  60.0     180.0           1.0           2.0
2     330000.0      3.0  94.0     400.0           1.0           3.0
3     120029.0      2.0  58.0       0.0           1.0           2.0
4     141037.0      3.0  59.0       0.0           1.0           3.0
...        ...      ...   ...       ...           ...           ...
8936  124000.0      2.0  58.0     180.0           1.0           2.0
8937   38000.0      3.0  62.0     180.0           1.0           3.0
8938  220000.0      4.0   0.0     180.0           1.0           4.0
8939   45000.0      2.0   0.0     180.0           1.0           2.0
8940   75000.0      3.0  30.0       0.0           1.0           3.0

       Area_mean  TaxaCond_mean  VagasGaragem_mean
0     668.763002   27495.835454           2.000000
1      60.000000   27495.835454           1.000000
2      94.000000     400.000000           1.225412
3      58.000000       0.000000           1.000000
4      59.000000       0.000000           1.000000
...          ...            ...                ...
8936  668.763002   27495.835454           1.000000
8937   62.000000   27495.835454           1.000000
8938    0.000000   27495.835454           1.225412
8939    0.000000   27495.835454           1.225412
8940   30.000000       0.000000           1.000000

[8941 rows x 9 columns]

In [24]:
cols = df.columns
from sklearn.impute import SimpleImputer
imp = SimpleImputer(strategy='most_frequent')
df = pd.DataFrame(imp.fit_transform(df), columns=cols)

In [26]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df = df.apply(LabelEncoder().fit_transform)

In [27]:
df

,Anuncio,Preco,Data,Hora,Link,Localidade,Quartos,Area,TaxaCond,VagasGaragem
0,1689,130,41,769,3042,1,1,56,37,1
1,291,707,41,769,7030,6,1,58,37,0
2,787,2137,41,767,1321,6,2,90,126,0
3,20,1252,41,762,1595,67,1,56,0,0
4,176,1585,41,761,6767,96,2,57,0,0
...,...,...,...,...,...,...,...,...,...,...
8936,3326,1310,3,645,5865,67,1,56,37,0
8937,2610,145,63,617,4688,96,2,60,37,0
8938,5375,1992,61,276,4184,67,3,0,37,0
8939,4225,202,39,496,8586,67,1,0,37,0
8940,4326,382,33,139,7544,104,2,29,0,0

In [30]:
df = pd.read_csv("dataset.csv")
cols = df.columns
num_cols = df._get_numeric_data().columns
cat_cols = list(set(cols) - set(num_cols))

In [31]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_le = df_temp.apply(LabelEncoder().fit_transform)

NameError: name 'df_temp' is not defined

In [32]:
from mlbox.preprocessing import *

^C

In [ ]:
rd = Reader(sep = “,”)
df = rd.train_test_split("dataset.csv", "Preco") ### ATENCAO